{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "#root": "./",
          "#src": "./src",
          "#config": "./src/config",
          "#graphql": "./src/graphql",
          "#utils": "./src/utils"
        }
      }
    ],
    "@babel/plugin-transform-runtime"
  ]
}
